<div class="grid grid-fluid">
    <div class="row">
      <h2>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</h2>
      <div class="btn-outline btn-big">Big button</div>
    </div>
    <div class="grid grid-fluid">
        <div class="col-4 red">
          <h1>Package 1</h1>
          <br>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
            </p>
        </div>
        <div class="col-4">
          <h1>Package 1</h1>
          <br>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
            </p>
        </div>
        <div class="col-4 red">
          <h1>Package 1</h1>
          <br>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
            </p>
        </div>
    </div>
</div>
