<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uniting Travellers</title>

    <link rel="stylesheet" href="/css/siimple.css">
    <link type='text/css' rel="stylesheet" href="/css/style.css"></link>
  </head>
  <body>
    <div class="grid grid-fluid">
      <div class="row">
      </div>
    </div>
    <div class="grid grid-fluid">
      <div class="row">
        <div class="col-7">
            <li id="idleft">
              <a href="/">RN TRAVELOG</a>
            </li>
        </div>
        <div class="col-1">
            <li>
              <a href="/about">About</a>
            </li>
        </div>
        <div class="col-1">
            <li>
              <a href="#">Package</a>
            </li>
        </div>
        <div class="col-1">

            <li>
              <a href="#">Site</a>
            </li>

        </div>
        <div class="col-1">

            <li>
              <a href="#">Contact</a>
            </li>

        </div>
      </div>
    </div>
    <%- body %>
  </body>

    <script type="text/javascript" src="/js/script.js"></script>
</html>
